// font-family: 'klee',sans-serif;
// font-family: YuGothic,'Yu Gothic',sans-serif;

// .halant-light {
//   font-family: "Halant", serif;
//   font-weight: 300;
//   font-style: normal;
// }

// .halant-regular {
//   font-family: "Halant", serif;
//   font-weight: 400;
//   font-style: normal;
// }

// .halant-medium {
//   font-family: "Halant", serif;
//   font-weight: 500;
//   font-style: normal;
// }

// .halant-semibold {
//   font-family: "Halant", serif;
//   font-weight: 600;
//   font-style: normal;
// }

// .halant-bold {
//   font-family: "Halant", serif;
//   font-weight: 700;
//   font-style: normal;
// }

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.header-wrapper {
  font-family: 'klee', sans-serif;
  h2 {
    font-size: 1.8em;
    text-align: center;
    letter-spacing: 4px;
    font-family: "Halant", serif;
    font-weight: 400;
    font-style: normal;
    .init {
      color: #9d870a;
    }
  }
  p {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 3px;
    font-size: .8em;
  }
}
